/******************************/
/*      Global CSS         */
/******************************/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

section,
.container {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  color: #575757;
}

h2 {
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 40px;
}

/* Vertical center CSS */
.vertical-center {
  height: 700px;
  display: flex;
  align-items: center;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.float-left {
  width: 50%;
  float: left;
  overflow: hidden;
}

.float-right {
  width: 50%;
  float: right;
}

/******************************/
/*      Hero Area CSS         */
/******************************/
.hero-area h1 {
  font-size: 60px;
  font-weight: 700;
}

/* Text Gradient Overlay */
.hero-area h1 span {
  background: -webkit-linear-gradient(39deg, #fba24f, #ff1e1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-area p {
  padding: 30px 0;
  color: #828282;
  line-height: 30px;
}

a.btn-global {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  background: linear-gradient(45deg, #fba24f, #ff1e1e);
  padding: 20px 40px;
  border-radius: 50px;
  box-shadow: 0 0 30px 0px #ff1e1e6b;
  margin: 30px 0;
}

a.btn-global:hover {
  background: linear-gradient(45deg, #ff1e1e, #fba24f);
}

section.hero-area .float-left {
  padding: 30px;
  width: 70%;
}

/******************************/
/*      About Area CSS        */
/******************************/
.about-area h2 {
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 40px;
}

.about-area p {
  font-size: 18px;
  line-height: 32px;
  color: #18191f;
  margin-bottom: 40px;
}

.about-area .float-right {
  float: right;
  box-sizing: border-box;
  margin-top: 180px;
  margin-bottom: 120px;
}

section.about-area img {
  width: 67%;
  margin-top: 65px;
  margin-bottom: -5px;
}
section.about-area {
  background-image: url(img/about-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/******************************/
/*      Recipe Area CSS        */
/******************************/
section.recipe-area .section-header {
  text-align: center;
  width: 700px;
  margin: 0 auto;
  padding-bottom: 35px;
}

section.recipe-area {
  padding: 90px 0;
}

section.recipe-area .section-header p {
  line-height: 30px;
}

.recipe-area .recipe-items {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 40px;
}

.recipe-items {
}

.recipe-area .single-recipe {
  border-radius: 30px;
  box-shadow: 0px 0px 12px 7px #ededed;
  padding: 20px;
}

.recipe-items {
  padding: 0px 30px 30px 30px;
}

.single-recipe p {
  line-height: 32px;
}

.single-recipe h3 {
  margin: 18px 0;
}

.single-recipe img {
  margin-bottom: 25px;
}
